Repository shanzhaime/hue-explorer: changes, and which Codecov flags are due for each by the changed paths.
All: ui, api

Replaced Storage with versioned-storage
  src/api/ActiveBridge.js
  src/api/HueBridge.js
  src/api/HueBridgeList.js
  src/api/Settings.js
  src/api/__tests__/ActiveBridge-test.js
  src/api/__tests__/HueBridge-test.js
  src/api/__tests__/Settings-test.js
  src/api/__tests__/Storage-test.js
  src/api/__tests__/deviceID-test.js
  src/api/deviceId.js
  src/ui/SettingsView.js
Due: ui, api

Removed Storage module
  src/api/Storage.js
  src/api/__tests__/Storage-test.js
Due: api

Replaced deviceId with browser-id
  src/api/HueBridge.js
  src/api/__tests__/deviceID-test.js
  src/api/deviceId.js
  src/ui/HueBridgeSelector.js
Due: ui, api

Removed deviceId module
  src/api/__tests__/deviceID-test.js
  src/api/deviceId.js
Due: api

Upgraded serialize-javascript to 2.1.2
  yarn.lock
Due: none

Upgraded serialize-javascript to 2.1.2 (#248)
  yarn.lock
Due: none

Replace externalized dependencies (#253)
  package.json
  src/api/ActiveBridge.js
  src/api/HueBridge.js
  src/api/HueBridgeList.js
  src/api/Settings.js
  src/api/Storage.js
  src/api/__tests__/ActiveBridge-test.js
  src/api/__tests__/HueBridge-test.js
  src/api/__tests__/Settings-test.js
  src/api/__tests__/Storage-test.js
  src/api/__tests__/deviceID-test.js
  src/api/deviceId.js
  src/ui/HueBridgeSelector.js
  src/ui/SettingsView.js
  yarn.lock
Due: ui, api

Updated to the latest http-proxy-middleware API
  src/setupProxy.js
Due: none

Removed uuid (#283)
  flow-typed/npm/uuid_v3.x.x.js
  package.json
  yarn.lock
Due: none

Update README.md
  README.md
Due: none

Executed husky-4-to-5
  package.json
  yarn.lock
Due: none

Set Jest resetMocks to false
  package.json
Due: none

Create node.js.yml
  .github/workflows/node.js.yml
Due: none

Delete .travis.yml
  .travis.yml
Due: none

Executed husky-4-to-5
  .husky/.gitignore
Due: none

Ran yarn upgrade
  yarn.lock
Due: none

Fixed HueBridge for Flow
  src/api/HueBridge.js
Due: api

Fixed JSON components for Flow
  src/ui/json/JsonArray.js
  src/ui/json/JsonBoolean.js
  src/ui/json/JsonEditor.js
  src/ui/json/JsonNull.js
  src/ui/json/JsonNumber.js
  src/ui/json/JsonObject.js
  src/ui/json/JsonString.js
Due: ui

Fixed date and time components for Flow
  src/ui/time/DateEditor.js
  src/ui/time/RecurringDaysEditor.js
  src/ui/time/TimeEditor.js
  src/ui/time/TimePatternEditor.js
Due: ui

Fixed UI components for Flow
  src/ui/CenterCard.js
  src/ui/ConsoleView.js
  src/ui/LoadingCard.js
  src/ui/LoadingIndicator.js
  src/ui/SettingsView.js
Due: ui

Update .mergify.yml
  .mergify.yml
Due: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Create codeql-analysis.yml (#386)
  .github/workflows/codeql-analysis.yml
Due: none

Fixed "Incomplete string escaping or encoding"
  src/ui/json/JsonObject.js
Due: ui

Fixed "Incomplete string escaping or encoding" (#387)
  src/ui/json/JsonObject.js
Due: ui

Fixed Husky pre-commit hook
  .husky/pre-commit
  package.json
Due: none

Set up rebase/merge hooks
  .husky/post-merge
  .husky/post-rewrite
Due: none

Fixed Husky hooks (#388)
  .husky/post-merge
  .husky/post-rewrite
  .husky/pre-commit
  package.json
Due: none

Ran Prettier across the codebase
  .codecov.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/node.js.yml
  .husky/.gitignore
  public/index.html
  src/api/HueColor.js
  src/api/HueTimePattern.js
  src/index.js
  src/setupProxy.js
  src/ui/CenterCard.js
  src/ui/ConsoleView.js
  src/ui/HueBridgeSelector.js
  src/ui/Light.js
  src/ui/LoadingCard.js
  src/ui/LoadingIndicator.js
  src/ui/SettingsView.js
  src/ui/json/JsonArray.js
  src/ui/json/JsonBoolean.js
  src/ui/json/JsonEditor.js
  src/ui/json/JsonNull.js
  src/ui/json/JsonNumber.js
  src/ui/json/JsonString.js
  src/ui/json/__tests__/JsonArray-test.js
  src/ui/json/__tests__/JsonEditor-test.js
  src/ui/json/__tests__/JsonObject-test.js
  src/ui/time/DateEditor.js
  src/ui/time/RecurringDaysEditor.js
  src/ui/time/TimeEditor.js
  src/ui/time/TimePatternEditor.js
Due: ui, api

Update .codecov.yml
  .codecov.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Fixed flow errors
  src/ui/ConsoleView.js
  src/ui/SettingsView.js
Due: ui

Fixed yarn errors
  src/api/HueBridge.js
Due: api

Merge dependabot/npm_and_yarn/flow-bin-0.179.0 into master (#523)
  package.json
  src/api/HueBridge.js
  yarn.lock
Due: api

Set up Dependabot for GitHub Actions
  .github/dependabot.yml
Due: none

Set up Dependabot for GitHub Actions (#551)
  .github/dependabot.yml
Due: none

Path conditions:
  ui: any of: src/ui/
  api: any of: src/api/
