Repository shanzhaime/hue-explorer: changes, and which Codecov flags are due for each by the changed paths.
All: ui, api

Created test for JsonBoolean
  src/ui/json/__tests__/JsonBoolean-test.js
Due: ui

Created test for JsonNull
  src/ui/json/__tests__/JsonNull-test.js
Due: ui

Created test for JsonNumber
  src/ui/json/JsonNumber.js
  src/ui/json/__tests__/JsonNumber-test.js
Due: ui

Created test for JsonString
  src/ui/json/__tests__/JsonString-test.js
Due: ui

Made JSON copiable text valid JSON
  src/ui/json/JsonArray.js
  src/ui/json/JsonEditor.css
  src/ui/json/JsonObject.js
Due: ui

Created test for JsonArray
  src/ui/json/__tests__/JsonArray-test.js
Due: ui

Created test for JsonObject
  src/ui/json/__tests__/JsonObject-test.js
Due: ui

Added enzyme and enzyme-adapter-react-16 to dev dependencies
  .codecov.yml
  .travis.yml
  package.json
  src/setupTests.js
  yarn.lock
Due: none

Updated dev dependencies
  package.json
  yarn.lock
Due: none

Made JSON editor 100% coverage
  src/ui/json/__tests__/JsonArray-test.js
  src/ui/json/__tests__/JsonEditor-test.js
  src/ui/json/__tests__/JsonObject-test.js
Due: ui

Made JSON string able to handle control characters
  src/ui/json/JsonString.js
  src/ui/json/__tests__/JsonString-test.js
Due: ui

Updated .travis.yml
  .travis.yml
Due: none

Moved OAuth properties from Settings to HueBridge
  src/api/HueBridge.js
  src/api/Settings.js
  src/index.js
Due: api

Renamed additionalBridgeProperties to bridgeOAuthProperties
  src/index.js
Due: none

Experimenting proxy header with customized heroku-buildpack-static buildpack
  app.json
  static.json
Due: none

Added ENV variables for OAuth
  src/index.js
  src/ui/HueBridgeSelector.js
  static.json
Due: ui

Made OAuth callback adaptive to any protocol and host
  src/index.js
  src/ui/HueBridgeSelector.js
Due: ui

Fixed App test by mocking global.URL
  src/setupTests.js
  src/ui/HueBridgeSelector.js
Due: ui

Adjusted code coverage target
  .codecov.yml
Due: none

Set up codecov flags
  .travis.yml
Due: none

Brought Setting test coverage to 100%
  src/api/__tests__/Settings-test.js
Due: api

Brought ActiveBridge test coverage to 100%
  src/api/__tests__/ActiveBridge-test.js
Due: api

Brought Storage test coverage to 100%
  src/api/__tests__/Storage-test.js
Due: api

Test cases of HueColor invalid hex input
  src/api/__tests__/HueColor-test.js
Due: api

Path conditions:
  ui: any of: src/ui/
  api: any of: src/api/
