Repository shanzhaime/hue-explorer: changes, and which Codecov flags are due for each by the changed paths.
All: ui, api

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes
  status:
    project:
      default: off
      ui:
        flags: ui
        target: 20%
      api:
        flags: api
        target: 75%

coverage:
  precision: 2
  round: nearest
  range: "50...75"

  status:
    project: yes
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: no

flags:
  ui:
    paths:
      - src/ui/
  api:
    paths:
      - src/api/

Brought ActiveBridge test coverage to 100%
  src/api/__tests__/ActiveBridge-test.js
Due: api

Brought Storage test coverage to 100%
  src/api/__tests__/Storage-test.js
Due: api

Test cases of HueColor invalid hex input
  src/api/__tests__/HueColor-test.js
Due: api

Brought Setting test coverage to 100%
  src/api/__tests__/Settings-test.js
Due: api

Set up codecov flags
  .travis.yml
Due: none

Adjusted code coverage target
  .codecov.yml
Due: none

Experimenting proxy header with customized heroku-buildpack-static buildpack
  app.json
  static.json
Due: none

Added ENV variables for OAuth
  src/index.js
  src/ui/HueBridgeSelector.js
  static.json
Due: ui

Made OAuth callback adaptive to any protocol and host
  src/index.js
  src/ui/HueBridgeSelector.js
Due: ui

Fixed App test by mocking global.URL
  src/setupTests.js
  src/ui/HueBridgeSelector.js
Due: ui

Fixed dropping access token in first OAuth try
  src/index.js
Due: none

Set app.json to inherit environment variables for review apps
  app.json
Due: none

Migrated domain to hueexplorer.app
  README.md
  package.json
  static.json
Due: none

Fixed empty JSON object/array incorrect containing indentation
  src/ui/json/JsonArray.js
  src/ui/json/JsonObject.js
  src/ui/json/__tests__/JsonArray-test.js
  src/ui/json/__tests__/JsonObject-test.js
Due: ui

Created raw Schedule card view
  src/ui/Schedule.js
  src/ui/SchedulesView.js
Due: ui

Created TimePattern and implementing parse functions
  src/api/HueTimePattern.js
  src/api/__tests__/HueTimePattern-test.js
Due: api

Updated dependencies
  package.json
  yarn.lock
Due: none

Hid OAuth settings in production
  src/App.js
Due: none

Added warning to OAuth settings dialog in production
  src/ui/SettingsView.js
Due: ui

Exported types in HueTimePattern
  src/api/HueTimePattern.js
Due: api

Created TimePatternEditor for ScheduleView
  src/ui/Schedule.js
  src/ui/time/DateEditor.js
  src/ui/time/RecurringDaysEditor.js
  src/ui/time/TimeEditor.js
  src/ui/time/TimePatternEditor.js
Due: ui

Fixes for ESLint
  src/api/HueTimePattern.js
Due: api

Updated flow-bin to 0.79.1
  package.json
  yarn.lock
Due: none

Removed [strict] section from .flowconfig
  .flowconfig
Due: none

Updated flow-bin to 0.79.1 (#41)
  .flowconfig
  package.json
  yarn.lock
Due: none

No local ping when using HTTPS
  src/api/ActiveBridge.js
  src/api/HueBridge.js
  src/api/__tests__/ActiveBridge-test.js
Due: api

Hid OAuth settings in production (#37)
  src/App.js
  src/ui/SettingsView.js
Due: ui

Disabled local bridges from selection on HTTPS
  src/ui/HueBridgeSelector.js
Due: ui

Hid drop down list divider when no known bridge
  src/ui/HueBridgeSelector.js
Due: ui

Wrapped Routes inside a Switch
  src/App.js
Due: none
