Repository shanzhaime/hue-explorer: changes, and which Codecov flags are due for each by the changed paths.
All: ui, api

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes
  status:
    project:
      default: off
      ui:
        flags: ui
        target: 20%
      api:
        flags: api
        target: 75%

coverage:
  precision: 2
  round: nearest
  range: "50...75"

  status:
    project: yes
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: no

flags:
  ui:
    paths:
      - src/ui/
  api:
    paths:
      - src/api/

Consolidated center loading card into a component
  src/ui/GroupsView.js
  src/ui/LightsView.js
  src/ui/LoadingCard.js
  src/ui/LoadingIndicator.js
  src/ui/SchedulesView.js
Due: ui

Code split by route
  package.json
  src/App.js
  yarn.lock
Due: none

Component refactoring (#43)
  src/App.js
  src/ui/GroupsView.js
  src/ui/LightsView.js
  src/ui/LoadingCard.js
  src/ui/LoadingIndicator.js
  src/ui/SchedulesView.js
Due: ui

Disabled local bridge connection when using HTTPS (#40)
  src/api/ActiveBridge.js
  src/api/HueBridge.js
  src/api/__tests__/ActiveBridge-test.js
  src/ui/HueBridgeSelector.js
Due: ui, api

Created TimePatternEditor (#39)
  src/api/HueTimePattern.js
  src/ui/Schedule.js
  src/ui/time/DateEditor.js
  src/ui/time/RecurringDaysEditor.js
  src/ui/time/TimeEditor.js
  src/ui/time/TimePatternEditor.js
Due: ui, api

Hid drop down list divider when no known bridge (#42)
  src/ui/HueBridgeSelector.js
Due: ui

Updated dependencies: react-script 1.1.5; flow-bin 0.80.0
  package.json
  yarn.lock
Due: none

Updated dependencies: react-script 1.1.5; flow-bin 0.80.0 (#45)
  package.json
  yarn.lock
Due: none

Upgraded dependencies (including react-script)
  package.json
  yarn.lock
Due: none

Upgraded dependencies (including react-script) (#46)
  package.json
  yarn.lock
Due: none

Select Bridge after OAuth
  src/index.js
Due: none

Fixed display connection type
  src/ui/HueBridgeSelector.js
Due: ui

Added browserslist to package.json for CRN 2.0
  package.json
Due: none

Fixed dev proxy for CRN 2.0 migration
  package.json
  src/setupProxy.js
  yarn.lock
Due: none

Fixed Storage-test by making localStorage writable for CRN 2.0 migration
  src/api/__tests__/Storage-test.js
Due: api

Fixed display connection type (#50)
  src/ui/HueBridgeSelector.js
Due: ui

Select Bridge after OAuth (#49)
  src/index.js
Due: none

Migrated husky hooks from 0.1.4 to 1.0.0
  package.json
Due: none

Updated heading for README
  README.md
Due: none

Added Codecov badge to README
  README.md
Due: none

Migrated husky hooks from 0.1.4 to 1.0.0 (#70)
  package.json
Due: none

Fixed typing for value from JSON.stringify
  src/api/Storage.js
Due: api

Recreate yarn.lock
  yarn.lock
Due: none

Separated browserlist for development
  package.json
Due: none

Separated browserlist for development (#170)
  package.json
Due: none

yarn upgrade
  yarn.lock
Due: none

Revert "yarn upgrade"
  yarn.lock
Due: none

Set up Mergify to approve Dependabot pull requests
  .mergify.yml
Due: none

Deleting branch after merge in Mergify
  .mergify.yml
Due: none

Flipped LGTM condition from succes to !failure
  .mergify.yml
Due: none

Set up Mergify to approve Dependabot pull requests (#209)
  .mergify.yml
Due: none

Enforce success state for LGTM in Mergify config
  .mergify.yml
Due: none

Created hi-res icons for PWA
  public/logo192.png
  public/logo512.png
  public/manifest.json
  resources/favicon/bridge 192.pxd/QuickLook/Icon.tiff
  resources/favicon/bridge 192.pxd/QuickLook/Thumbnail.tiff
  resources/favicon/bridge 192.pxd/data/EBF06DBE-AFD5-4C65-A20E-1D2D68080805-20190922-180909
  resources/favicon/bridge 192.pxd/metadata.info
  resources/favicon/bridge 512.pxd/QuickLook/Icon.tiff
  resources/favicon/bridge 512.pxd/QuickLook/Thumbnail.tiff
  resources/favicon/bridge 512.pxd/data/EBF06DBE-AFD5-4C65-A20E-1D2D68080805-20190922-180909
  resources/favicon/bridge 512.pxd/metadata.info
Due: none

Tweak icon designs
  public/logo192.png
  public/logo512.png
  resources/favicon/bridge 16.psd
  resources/favicon/bridge 16.pxd/QuickLook/Icon.tiff
  resources/favicon/bridge 16.pxd/QuickLook/Thumbnail.tiff
  resources/favicon/bridge 16.pxd/data/EBF06DBE-AFD5-4C65-A20E-1D2D68080805-20190922-180909
  resources/favicon/bridge 16.pxd/metadata.info
  resources/favicon/bridge 192.pxd/QuickLook/Icon.tiff
  resources/favicon/bridge 192.pxd/QuickLook/Thumbnail.tiff
  resources/favicon/bridge 192.pxd/data/EBF06DBE-AFD5-4C65-A20E-1D2D68080805-20190922-180909
  resources/favicon/bridge 192.pxd/metadata.info
  resources/favicon/bridge 24.psd
  resources/favicon/bridge 24.pxd/QuickLook/Icon.tiff
  resources/favicon/bridge 24.pxd/QuickLook/Thumbnail.tiff
  resources/favicon/bridge 24.pxd/data/EBF06DBE-AFD5-4C65-A20E-1D2D68080805-20190922-180909
  resources/favicon/bridge 24.pxd/metadata.info
  resources/favicon/bridge 32.png
  resources/favicon/bridge 32.pxd/QuickLook/Icon.tiff
  resources/favicon/bridge 32.pxd/QuickLook/Thumbnail.tiff
  resources/favicon/bridge 32.pxd/data/EBF06DBE-AFD5-4C65-A20E-1D2D68080805-20190922-180909
  resources/favicon/bridge 32.pxd/metadata.info
  resources/favicon/bridge 512.pxd/QuickLook/Icon.tiff
  resources/favicon/bridge 512.pxd/QuickLook/Thumbnail.tiff
  resources/favicon/bridge 512.pxd/data/EBF06DBE-AFD5-4C65-A20E-1D2D68080805-20190922-180909
  resources/favicon/bridge 512.pxd/metadata.info
  resources/favicon/bridge 64.psd
  resources/favicon/bridge 64.pxd/QuickLook/Icon.tiff
  resources/favicon/bridge 64.pxd/QuickLook/Thumbnail.tiff
  resources/favicon/bridge 64.pxd/data/EBF06DBE-AFD5-4C65-A20E-1D2D68080805-20190922-180909
  resources/favicon/bridge 64.pxd/metadata.info
Due: none

Created hi-res icons for PWA (#210)
  public/logo192.png
  public/logo512.png
  public/manifest.json
  resources/favicon/bridge 16.psd
  resources/favicon/bridge 16.pxd/QuickLook/Icon.tiff
  resources/favicon/bridge 16.pxd/QuickLook/Thumbnail.tiff
  resources/favicon/bridge 16.pxd/data/EBF06DBE-AFD5-4C65-A20E-1D2D68080805-20190922-180909
  resources/favicon/bridge 16.pxd/metadata.info
  resources/favicon/bridge 192.pxd/QuickLook/Icon.tiff
  resources/favicon/bridge 192.pxd/QuickLook/Thumbnail.tiff
  resources/favicon/bridge 192.pxd/data/EBF06DBE-AFD5-4C65-A20E-1D2D68080805-20190922-180909
  resources/favicon/bridge 192.pxd/metadata.info
  resources/favicon/bridge 24.psd
  resources/favicon/bridge 24.pxd/QuickLook/Icon.tiff
  resources/favicon/bridge 24.pxd/QuickLook/Thumbnail.tiff
  resources/favicon/bridge 24.pxd/data/EBF06DBE-AFD5-4C65-A20E-1D2D68080805-20190922-180909
  resources/favicon/bridge 24.pxd/metadata.info
  resources/favicon/bridge 32.png
  resources/favicon/bridge 32.pxd/QuickLook/Icon.tiff
  resources/favicon/bridge 32.pxd/QuickLook/Thumbnail.tiff
  resources/favicon/bridge 32.pxd/data/EBF06DBE-AFD5-4C65-A20E-1D2D68080805-20190922-180909
  resources/favicon/bridge 32.pxd/metadata.info
  resources/favicon/bridge 512.pxd/QuickLook/Icon.tiff
  resources/favicon/bridge 512.pxd/QuickLook/Thumbnail.tiff
  resources/favicon/bridge 512.pxd/data/EBF06DBE-AFD5-4C65-A20E-1D2D68080805-20190922-180909
  resources/favicon/bridge 512.pxd/metadata.info
  resources/favicon/bridge 64.psd
  resources/favicon/bridge 64.pxd/QuickLook/Icon.tiff
  resources/favicon/bridge 64.pxd/QuickLook/Thumbnail.tiff
  resources/favicon/bridge 64.pxd/data/EBF06DBE-AFD5-4C65-A20E-1D2D68080805-20190922-180909
  resources/favicon/bridge 64.pxd/metadata.info
Due: none

Fixed flow error
  src/api/HueBridge.js
Due: api

Switched Travis to Node LTS
  .travis.yml
Due: none

Switched Travis to Node LTS (#246)
  .travis.yml
Due: none

Installed browser-id and versioned-storage
  package.json
  yarn.lock
Due: none
